# 자연어 데이터 처리
- nltk 모듈
- konlpy모듈: 한국어 처리 모듈

#### Konlpy 형태소 분석

In [4]:
import matplotlib.pyplot as plt
import platform

if platform.system() == "Darwin":  # 맥
    plt.rc('font', family='AppleGothic')
elif platform.system() == "Windows":  # 윈도우
    plt.rc('font', family='Malgun Gothic')
elif platform.system() == "Linux":  # 리눅스 = 코랩
    plt.rc('font', family='Malgun Gothic')

In [5]:
# nltk, Konlpy 설치
#!pip install nltk
#!pip install Konlpy

In [6]:
## konlpy를 이용한 형태소 확인
from konlpy.tag import Okt

text = "한국어 분석을 시작합니다. 형태소별로 추출합니다."

okt = Okt()


# 명사 추출
okt.nouns(text)

['한국어', '분석', '시작', '형태소', '별로', '추출']

In [7]:
# 단어를 분류하고 형태소별로 출력
okt.pos(text)

[('한국어', 'Noun'),
 ('분석', 'Noun'),
 ('을', 'Josa'),
 ('시작', 'Noun'),
 ('합니다', 'Verb'),
 ('.', 'Punctuation'),
 ('형태소', 'Noun'),
 ('별로', 'Noun'),
 ('추출', 'Noun'),
 ('합니다', 'Verb'),
 ('.', 'Punctuation')]

### 파일을 가져와 처리하기
- 파일: it-life-hack-6292880.txt

In [10]:
# 파일오픈
f = open('./data/it-life/it-life-hack-6292880.txt', encoding='utf-8')

# 파일 내용 읽어오기
text = f.read()

# 데이터 내용 확인하기
print(text)

# 파일 닫기
f.close()

http://news.livedoor.com/article/detail/6292880/
2012-02-19T13 : 00 : 00 + 0900
구형 Mac에서 금단의 파워 업! 최신 PC 나 소프트웨어를 한꺼번에 체크 [IT 플래시백]
텔레비전이나 Twitter와 연계 할 수있는 PC 나 프로세서, 전환 PC 등 재미있는 PC가 속속 등장했다. 구형 Mac의 금단이라고도 할 수있는 파워 업 방법에서 NEC의 최신 PC, 화제의 ThinkPad X1 Hybrid, 새로운 보안 소프트웨어까지 한꺼번에 소개합니다.

■ 인텔 SSD 520을 Mac에 장착! 구형 Mac은 얼마나 빨라질 것인가? (위)
인텔이 최신 SSD '520 시리즈'를 출시했다. 현재 SSD 중에서도 최고의 성능을 자랑하는 이 제품을 구형 Mac의 고속화를 도모한다는 점에서 리뷰 해 보았다. 조금 색다른 리뷰가되지만, 어느 정도의 효과가 있는지, 기대가 크다.


■ http : //itlifehack.jp/archives/6716997.html
ThinkPad X1 Hybrid는 사용하는 CPU가 x86 (인텔 Core i 등)에서 ARM으로 전환가능한 하이브리드 PC, 하지만 이와 동시에 OS도 바뀐다.


■ 초기 비용, 업데이트 비용 모두 무료! 저스트시스템, 도마뱀로그가 인상적인 보안 소프트웨어
현재는 많은 사용자들이 PC에 보안 프로그램을 도입하고 있지만, 그 대부분은 매년 5,000 엔 정도 드는 업데이트 비용 과 그 절차에 대해 불만을 가지고있다. 유료 소프트웨어를 이용하는 사용자의 약 80 %는 무료 보안 소프트웨어를 알고 있음에도 불구하고, 성능면에서 뒤 떨어지는 게 아니냐는 불안에서 도입을 미루고 있는 상황이다.


■ 텔레비전의 새로운 활용 방법을 제안! NEC의 봄 신상 PC는 TV와 Twitter를 연계
NEC는 2012 년 2 월 14 일, 개인용 데스크톱 PC 인 'VALUESTAR "시리즈 3 종류 16 모델을 2 월 16 일부터 판매한다고 발표했다. 신상품은 더 강력해진 녹화 기능 외에도 TV 시청 · 녹화 기능에 더해서 업계 최초로 인기 Twitter를 연계한 'SmartVision 트위트 플러스'를 추가하는 등 TV 컴퓨터 만의 기능을 탑재. 스마트 폰 홈 네트워크 대응도 강화하고, "안심 간단 쾌적"한 디지털 엔터테인먼트를 제안하여, 주요 모델에 대해 다음과 같이 기능 강화를 실시했다.


■ 마치 축제같은 출하식! 렛츠 노트 SX1 출하 시작
2 월 24 일에 발매되는 Let'snote SX1 / NX1의 출하식이 2 월 8 일 국내 제조 거점인 고베 공장에서 열렸다. 동사의 컴퓨터로는 처음실시하는 출하식으로, 이 제품에 얼마나 힘이 들어가 있는지 알 수있다.



[엡손 정품 잉크] 잉크 카트리지 6 색 세트 IC6CL50
엡손
출판사 : Amazon.co.jp
입소문을 본다

In [11]:
from konlpy.tag import Okt

# 인스턴트 객체 생성
okt = Okt()


# 형태소(토큰) 분석
tokens = okt.pos(text)
# print(tokens)

for token in tokens:
    print(token)

('http://news.livedoor.com/article/detail/6292880/', 'URL')
('\n', 'Foreign')
('2012-02', 'Number')
('-', 'Punctuation')
('19', 'Number')
('T', 'Alpha')
('13', 'Number')
(':', 'Punctuation')
('00', 'Number')
(':', 'Punctuation')
('00', 'Number')
('+', 'Punctuation')
('0900', 'Number')
('\n', 'Foreign')
('구형', 'Noun')
('Mac', 'Alpha')
('에서', 'Josa')
('금단', 'Noun')
('의', 'Josa')
('파워', 'Noun')
('업', 'Noun')
('!', 'Punctuation')
('최신', 'Noun')
('PC', 'Alpha')
('나', 'Noun')
('소프트웨어', 'Noun')
('를', 'Josa')
('한꺼', 'Verb')
('번', 'Noun')
('에', 'Josa')
('체크', 'Noun')
('[', 'Punctuation')
('IT', 'Alpha')
('플래시백', 'Noun')
(']', 'Punctuation')
('\n', 'Foreign')
('텔레비전', 'Noun')
('이나', 'Josa')
('Twitter', 'Alpha')
('와', 'Verb')
('연', 'Modifier')
('계', 'Noun')
('할', 'Verb')
('수', 'Noun')
('있는', 'Adjective')
('PC', 'Alpha')
('나', 'Noun')
('프로세서', 'Noun')
(',', 'Punctuation')
('전환', 'Noun')
('PC', 'Alpha')
('등', 'Noun')
('재미있는', 'Adjective')
('PC', 'Alpha')
('가', 'Verb')
('속속', 'Adverb')
('등장', 'Noun')
('했다', 'Verb')
('.', 'Punctuation')
('구형', 'Noun')
('Mac', 'Alpha')
('의', 'Noun')
('금단', 'Noun')
('이라고도', 'Josa')
('할', 'Verb')
('수', 'Noun')
('있는', 'Adjective')
('파워', 'Noun')
('업', 'Noun')
('방법', 'Noun')
('에서', 'Josa')
('NEC', 'Alpha')
('의', 'Noun')
('최신', 'Noun')
('PC', 'Alpha')
(',', 'Punctuation')
('화제', 'Noun')
('의', 'Josa')
('ThinkPad', 'Alpha')
('X', 'Alpha')
('1', 'Number')
('Hybrid', 'Alpha')
(',', 'Punctuation')
('새로운', 'Adjective')
('보안', 'Noun')
('소프트웨어', 'Noun')
('까지', 'Josa')
('한꺼', 'Verb')
('번', 'Noun')
('에', 'Josa')
('소개', 'Noun')
('합니다', 'Verb')
('.', 'Punctuation')
('\n\n', 'Foreign')
('■', 'Foreign')
('인텔', 'Noun')
('SSD', 'Alpha')
('520', 'Number')
('을', 'Josa')
('Mac', 'Alpha')
('에', 'Josa')
('장착', 'Noun')
('!', 'Punctuation')
('구형', 'Noun')
('Mac', 'Alpha')
('은', 'Noun')
('얼마나', 'Noun')
('빨라질', 'Adjective')
('것', 'Noun')
('인가', 'Josa')
('?', 'Punctuation')
('(', 'Punctuation')
('위', 'Noun')
(')', 'Punctuation')
('\n', 'Foreign')
('인텔', 'Noun')
('이', 'Josa')
('최신', 'Noun')
('SSD', 'Alpha')
("'", 'Punctuation')
('520', 'Number')
('시리즈', 'Noun')
("'", 'Punctuation')
('를', 'Noun')
('출시', 'Noun')
('했다', 'Verb')
('.', 'Punctuation')
('현재', 'Noun')
('SSD', 'Alpha')
('중', 'Noun')
('에서도', 'Josa')
('최고', 'Noun')
('의', 'Josa')
('성능', 'Noun')
('을', 'Josa')
('자랑', 'Noun')
('하는', 'Verb')
('이', 'Noun')
('제품', 'Noun')
('을', 'Josa')
('구형', 'Noun')
('Mac', 'Alpha')
('의', 'Noun')
('고속', 'Noun')
('화', 'Suffix')
('를', 'Josa')
('도모', 'Noun')
('한다는', 'Modifier')
('점', 'Noun')
('에서', 'Josa')
('리뷰', 'Noun')
('해', 'Noun')
('보았다', 'Verb')
('.', 'Punctuation')
('조금', 'Noun')
('색다른', 'Adjective')
('리뷰', 'Noun')
('가', 'Josa')
('되지만', 'Verb')
(',', 'Punctuation')
('어느', 'Adverb')
('정도', 'Noun')
('의', 'Josa')
('효과', 'Noun')
('가', 'Josa')
('있는지', 'Adjective')
(',', 'Punctuation')
('기대', 'Noun')
('가', 'Josa')
('크다', 'Verb')
('.', 'Punctuation')
('\n\n\n', 'Foreign')
('■', 'Foreign')
('http', 'Alpha')
(':', 'Punctuation')
('/', 'Foreign')
('/itlifehack.jp/archives/6716997.html', 'URL')
('\n', 'Foreign')
('ThinkPad', 'Alpha')
('X', 'Alpha')
('1', 'Number')
('Hybrid', 'Alpha')
('는', 'Verb')
('사용', 'Noun')
('하는', 'Verb')
('CPU', 'Alpha')
('가', 'Verb')
('x', 'Alpha')
('86', 'Number')
('(', 'Punctuation')
('인텔', 'Noun')
('Core', 'Alpha')
('i', 'Alpha')
('등', 'Noun')
(')', 'Punctuation')
('에서', 'Josa')
('ARM', 'Alpha')
('으로', 'Josa')
('전환', 'Noun')
('가능한', 'Adjective')
('하이브리드', 'Noun')
('PC', 'Alpha')
(',', 'Punctuation')
('하지만', 'Conjunction')
('이', 'Noun')
('와', 'Josa')
('동시', 'Noun')
('에', 'Josa')
('OS', 'Alpha')
('도', 'Noun')
('바뀐다', 'Verb')
('.', 'Punctuation')
('\n\n\n', 'Foreign')
('■', 'Foreign')
('초기', 'Noun')
('비용', 'Noun')
(',', 'Punctuation')
('업데이트', 'Noun')
('비용', 'Noun')
('모두', 'Noun')
('무료', 'Noun')
('!', 'Punctuation')
('저스트', 'Noun')
('시스템', 'Noun')
(',', 'Punctuation')
('도마뱀', 'Noun')
('로그', 'Noun')
('가', 'Josa')
('인상', 'Noun')
('적', 'Suffix')
('인', 'Josa')
('보안', 'Noun')
('소프트웨어', 'Noun')
('\n', 'Foreign')
('현재', 'Noun')
('는', 'Josa')
('많은', 'Adjective')
('사용자', 'Noun')
('들', 'Suffix')
('이', 'Josa')
('PC', 'Alpha')
('에', 'Josa')
('보안', 'Noun')
('프로그램', 'Noun')
('을', 'Josa')
('도입', 'Noun')
('하고', 'Josa')
('있지만', 'Adjective')
(',', 'Punctuation')
('그', 'Noun')
('대부분', 'Noun')
('은', 'Josa')
('매년', 'Noun')
('5,000', 'Number')
('엔', 'Josa')
('정도', 'Noun')
('드는', 'Verb')
('업데이트', 'Noun')
('비용', 'Noun')
('과', 'Noun')
('그', 'Noun')
('절차', 'Noun')
('에', 'Josa')
('대해', 'Noun')
('불만', 'Noun')
('을', 'Josa')
('가지고있다', 'Verb')
('.', 'Punctuation')
('유료', 'Noun')
('소프트웨어', 'Noun')
('를', 'Josa')
('이용', 'Noun')
('하는', 'Verb')
('사용자', 'Noun')
('의', 'Josa')
('약', 'Noun')
('80', 'Number')
('%', 'Punctuation')
('는', 'Verb')
('무료', 'Noun')
('보안', 'Noun')
('소프트웨어', 'Noun')
('를', 'Josa')
('알', 'Noun')
('고', 'Josa')
('있음에도', 'Adjective')
('불구', 'Noun')
('하고', 'Josa')
(',', 'Punctuation')
('성능', 'Noun')
('면', 'Noun')
('에서', 'Josa')
('뒤', 'Noun')
('떨어지는', 'Verb')
('게', 'Noun')
('아니냐는', 'Adjective')
('불안', 'Noun')
('에서', 'Josa')
('도입', 'Noun')
('을', 'Josa')
('미루고', 'Verb')
('있는', 'Adjective')
('상황', 'Noun')
('이다', 'Josa')
('.', 'Punctuation')
('\n\n\n', 'Foreign')
('■', 'Foreign')
('텔레비전', 'Noun')
('의', 'Josa')
('새로운', 'Adjective')
('활용', 'Noun')
('방법', 'Noun')
('을', 'Josa')
('제안', 'Noun')
('!', 'Punctuation')
('NEC', 'Alpha')
('의', 'Noun')
('봄', 'Noun')
('신상', 'Noun')
('PC', 'Alpha')
('는', 'Verb')
('TV', 'Alpha')
('와', 'Verb')
('Twitter', 'Alpha')
('를', 'Noun')
('연', 'Modifier')
('계', 'Noun')
('\n', 'Foreign')
('NEC', 'Alpha')
('는', 'Verb')
('2012', 'Number')
('년', 'Noun')
('2', 'Number')
('월', 'Noun')
('14', 'Number')
('일', 'Noun')
(',', 'Punctuation')
('개인', 'Noun')
('용', 'Noun')
('데스크톱', 'Noun')
('PC', 'Alpha')
('인', 'Noun')
("'", 'Punctuation')
('VALUESTAR', 'Alpha')
('"', 'Punctuation')
('시리즈', 'Noun')
('3', 'Number')
('종류', 'Noun')
('16', 'Number')
('모델', 'Noun')
('을', 'Josa')
('2', 'Number')
('월', 'Noun')
('16', 'Number')
('일', 'Noun')
('부터', 'Josa')
('판매', 'Noun')
('한다고', 'Verb')
('발표', 'Noun')
('했다', 'Verb')
('.', 'Punctuation')
('신', 'Modifier')
('상품', 'Noun')
('은', 'Josa')
('더', 'Noun')
('강력해진', 'Adjective')
('녹화', 'Noun')
('기능', 'Noun')
('외', 'Noun')
('에도', 'Josa')
('TV', 'Alpha')
('시청', 'Noun')
('·', 'Punctuation')
('녹화', 'Noun')
('기능', 'Noun')
('에', 'Josa')
('더해서', 'Adjective')
('업계', 'Noun')
('최초', 'Noun')
('로', 'Josa')
('인기', 'Noun')
('Twitter', 'Alpha')
('를', 'Noun')
('연', 'Modifier')
('계', 'Noun')
('한', 'Josa')
("'", 'Punctuation')
('SmartVision', 'Alpha')
('트', 'Noun')
('위트', 'Noun')
('플러스', 'Noun')
("'", 'Punctuation')
('를', 'Noun')
('추가', 'Noun')
('하는', 'Verb')
('등', 'Noun')
('TV', 'Alpha')
('컴퓨터', 'Noun')
('만의', 'Josa')
('기능', 'Noun')
('을', 'Josa')
('탑재', 'Noun')
('.', 'Punctuation')
('스마트', 'Noun')
('폰', 'Noun')
('홈', 'Noun')
('네트워크', 'Noun')
('대응', 'Noun')
('도', 'Josa')
('강화하고', 'Adjective')
(',', 'Punctuation')
('"', 'Punctuation')
('안심', 'Noun')
('간단', 'Noun')
('쾌적', 'Noun')
('"', 'Punctuation')
('한', 'Verb')
('디지털', 'Noun')
('엔터테인먼트', 'Noun')
('를', 'Josa')
('제안', 'Noun')
('하여', 'Verb')
(',', 'Punctuation')
('주요', 'Noun')
('모델', 'Noun')
('에', 'Josa')
('대해', 'Noun')
('다음', 'Noun')
('과', 'Josa')
('같이', 'Adverb')
('기능', 'Noun')
('강화', 'Noun')
('를', 'Josa')
('실시', 'Noun')
('했다', 'Verb')
('.', 'Punctuation')
('\n\n\n', 'Foreign')
('■', 'Foreign')
('마치', 'Noun')
('축제', 'Noun')
('같은', 'Adjective')
('출하', 'Noun')
('식', 'Suffix')
('!', 'Punctuation')
('렛츠', 'Noun')
('노트', 'Noun')
('SX', 'Alpha')
('1', 'Number')
('출하', 'Noun')
('시작', 'Noun')
('\n', 'Foreign')
('2', 'Number')
('월', 'Noun')
('24', 'Number')
('일', 'Noun')
('에', 'Josa')
('발매', 'Noun')
('되는', 'Verb')
('Let', 'Alpha')
("'", 'Punctuation')
('snote', 'Alpha')
('SX', 'Alpha')
('1', 'Number')
('/', 'Punctuation')
('NX', 'Alpha')
('1', 'Number')
('의', 'Noun')
('출하', 'Noun')
('식이', 'Noun')
('2', 'Number')
('월', 'Noun')
('8', 'Number')
('일', 'Noun')
('국내', 'Noun')
('제조', 'Noun')
('거점', 'Noun')
('인', 'Josa')
('고베', 'Noun')
('공장', 'Noun')
('에서', 'Josa')
('열렸다', 'Verb')
('.', 'Punctuation')
('동사', 'Noun')
('의', 'Josa')
('컴퓨터', 'Noun')
('로는', 'Josa')
('처음', 'Noun')
('실시', 'Noun')
('하', 'Suffix')
('는', 'Josa')
('출하', 'Noun')
('식', 'Suffix')
('으로', 'Josa')
(',', 'Punctuation')
('이', 'Noun')
('제품', 'Noun')
('에', 'Josa')
('얼마나', 'Noun')
('힘', 'Noun')
('이', 'Josa')
('들어가', 'Verb')
('있는지', 'Adjective')
('알', 'Noun')
('수', 'Noun')
('있다', 'Adjective')
('.', 'Punctuation')
('\n\n\n\n', 'Foreign')
('[', 'Punctuation')
('엡손', 'Noun')
('정품', 'Noun')
('잉크', 'Noun')
(']', 'Punctuation')
('잉크', 'Noun')
('카트리지', 'Noun')
('6', 'Number')
('색', 'Noun')
('세트', 'Noun')
('IC', 'Alpha')
('6', 'Number')
('CL', 'Alpha')
('50', 'Number')
('\n', 'Foreign')
('엡손', 'Noun')
('\n', 'Foreign')
('출판사', 'Noun')
(':', 'Punctuation')
('Amazon.co.jp', 'URL')
('\n', 'Foreign')
('입', 'Noun')
('소문', 'Noun')
('을', 'Josa')
('본다', 'Verb')
('\n', 'Foreign')

### 텍스트 데이터 정규화

In [12]:
import re

# 숫자, 영문자 등 문자열 제거
reg_text = re.sub(r'[0-9a-zA-Z]+', "", text)
print(reg_text)
print("===============================================")

# 불필요한 기호 제거
reg_text = re.sub(r'[:;+/\.,-]', "", reg_text)
print(reg_text)

://..////
-- :  :  +
구형 에서 금단의 파워 업! 최신  나 소프트웨어를 한꺼번에 체크 [ 플래시백]
텔레비전이나 와 연계 할 수있는  나 프로세서, 전환  등 재미있는 가 속속 등장했다. 구형 의 금단이라고도 할 수있는 파워 업 방법에서 의 최신 , 화제의   , 새로운 보안 소프트웨어까지 한꺼번에 소개합니다.

■ 인텔  을 에 장착! 구형 은 얼마나 빨라질 것인가? (위)
인텔이 최신  ' 시리즈'를 출시했다. 현재  중에서도 최고의 성능을 자랑하는 이 제품을 구형 의 고속화를 도모한다는 점에서 리뷰 해 보았다. 조금 색다른 리뷰가되지만, 어느 정도의 효과가 있는지, 기대가 크다.


■  : //.//.
  는 사용하는 가  (인텔   등)에서 으로 전환가능한 하이브리드 , 하지만 이와 동시에 도 바뀐다.


■ 초기 비용, 업데이트 비용 모두 무료! 저스트시스템, 도마뱀로그가 인상적인 보안 소프트웨어
현재는 많은 사용자들이 에 보안 프로그램을 도입하고 있지만, 그 대부분은 매년 , 엔 정도 드는 업데이트 비용 과 그 절차에 대해 불만을 가지고있다. 유료 소프트웨어를 이용하는 사용자의 약  %는 무료 보안 소프트웨어를 알고 있음에도 불구하고, 성능면에서 뒤 떨어지는 게 아니냐는 불안에서 도입을 미루고 있는 상황이다.


■ 텔레비전의 새로운 활용 방법을 제안! 의 봄 신상 는 와 를 연계
는  년  월  일, 개인용 데스크톱  인 ' "시리즈  종류  모델을  월  일부터 판매한다고 발표했다. 신상품은 더 강력해진 녹화 기능 외에도  시청 · 녹화 기능에 더해서 업계 최초로 인기 를 연계한 ' 트위트 플러스'를 추가하는 등  컴퓨터 만의 기능을 탑재. 스마트 폰 홈 네트워크 대응도 강화하고, "안심 간단 쾌적"한 디지털 엔터테인먼트를 제안하여, 주요 모델에 대해 다음과 같이 기능 강화를 실시했다.


■ 마치 축제같은 출하식! 렛츠 노트  출하 시작
 월  일에 발매되는 '  / 의 출하식이  월  일 국내 제조 거점인 고베 공장에서 열렸다. 동사의 컴퓨터로는 처음실시하는 출하식으로, 이 제품에 얼마나 힘이 들어가 있는지 알 수있다.



[엡손 정품 잉크] 잉크 카트리지  색 세트
엡손
출판사 : ..
입소문을 본다

===============================================


구형 에서 금단의 파워 업! 최신  나 소프트웨어를 한꺼번에 체크 [ 플래시백]
텔레비전이나 와 연계 할 수있는  나 프로세서 전환  등 재미있는 가 속속 등장했다 구형 의 금단이라고도 할 수있는 파워 업 방법에서 의 최신  화제의    새로운 보안 소프트웨어까지 한꺼번에 소개합니다

■ 인텔  을 에 장착! 구형 은 얼마나 빨라질 것인가? (위)
인텔이 최신  ' 시리즈'를 출시했다 현재  중에서도 최고의 성능을 자랑하는 이 제품을 구형 의 고속화를 도모한다는 점에서 리뷰 해 보았다 조금 색다른 리뷰가되지만 어느 정도의 효과가 있는지 기대가 크다


■
  는 사용하는 가  (인텔   등)에서 으로 전환가능한 하이브리드  하지만 이와 동시에 도 바뀐다


■ 초기 비용 업데이트 비용 모두 무료! 저스트시스템 도마뱀로그가 인상적인 보안 소프트웨어
현재는 많은 사용자들이 에 보안 프로그램을 도입하고 있지만 그 대부분은 매년  엔 정도 드는 업데이트 비용 과 그 절차에 대해 불만을 가지고있다 유료 소프트웨어를 이용하는 사용자의 약  %는 무료 보안 소프트웨어를 알고 있음에도 불구하고 성능면에서 뒤 떨어지는 게 아니냐는 불안에서 도입을 미루고 있는 상황이다


■ 텔레비전의 새로운 활용 방법을 제안! 의 봄 신상 는 와 를 연계
는  년  월  일 개인용 데스크톱  인 ' "시리즈  종류  모델을  월  일부터 판매한다고 발표했다 신상품은 더 강력해진 녹화 기능 외에도  시청 · 녹화 기능에 더해서 업계 최초로 인기 를 연계한 ' 트위트 플러스'를 추가하는 등  컴퓨터 만의 기능을 탑재 스마트 폰 홈 네트워크 대응도 강화하고 "안심 간단 쾌적"한 디지털 엔터테인먼트를 제안하여 주요 모델에 대해 다음과 같이 기능 강화를 실시했다


■ 마치 축제같은 출하식! 렛츠 노트  출하 시작
 월  일에 발매되는 '   의 출하식이  월  일 국내 제조 거점인 고베 공장에서 열렸다 동사의 컴퓨터로는 처음실시하는 출하식으로 이 제품에 얼마나 힘이 들어가 있는지 알 수있다



[엡손 정품 잉크] 잉크 카트리지  색 세트
엡손
출판사
입소문을 본다

In [13]:
### \n/\s를  " " 로 변경
reg_text = re.sub(r'[\n\s]+', "", reg_text)
print(reg_text)

구형에서금단의파워업!최신나소프트웨어를한꺼번에체크[플래시백]텔레비전이나와연계할수있는나프로세서전환등재미있는가속속등장했다구형의금단이라고도할수있는파워업방법에서의최신화제의새로운보안소프트웨어까지한꺼번에소개합니다■인텔을에장착!구형은얼마나빨라질것인가?(위)인텔이최신'시리즈'를출시했다현재중에서도최고의성능을자랑하는이제품을구형의고속화를도모한다는점에서리뷰해보았다조금색다른리뷰가되지만어느정도의효과가있는지기대가크다■는사용하는가(인텔등)에서으로전환가능한하이브리드하지만이와동시에도바뀐다■초기비용업데이트비용모두무료!저스트시스템도마뱀로그가인상적인보안소프트웨어현재는많은사용자들이에보안프로그램을도입하고있지만그대부분은매년엔정도드는업데이트비용과그절차에대해불만을가지고있다유료소프트웨어를이용하는사용자의약%는무료보안소프트웨어를알고있음에도불구하고성능면에서뒤떨어지는게아니냐는불안에서도입을미루고있는상황이다■텔레비전의새로운활용방법을제안!의봄신상는와를연계는년월일개인용데스크톱인'"시리즈종류모델을월일부터판매한다고발표했다신상품은더강력해진녹화기능외에도시청·녹화기능에더해서업계최초로인기를연계한'트위트플러스'를추가하는등컴퓨터만의기능을탑재스마트폰홈네트워크대응도강화하고"안심간단쾌적"한디지털엔터테인먼트를제안하여주요모델에대해다음과같이기능강화를실시했다■마치축제같은출하식!렛츠노트출하시작월일에발매되는'의출하식이월일국내제조거점인고베공장에서열렸다동사의컴퓨터로는처음실시하는출하식으로이제품에얼마나힘이들어가있는지알수있다[엡손정품잉크]잉크카트리지색세트엡손출판사입소문을본다

### 한국어 어간 어미 추출
- 어간(stem) : 용언(동사, 형용사)을 활용할 때, 원칙적으로 모양이 변하지 않는 부분
- 어미(ending): 용언의 어간 뒤에 붙어서 활용하면서 변하는 부분

In [14]:
from konlpy.tag import Okt

# 인스턴스 객체 생성
okt = Okt()

# 숫자, 영문자 등 문자열 제거
reg_text = re.sub(r'[^가-힣\n]', "", text)
print(reg_text)

# 형태소(토큰) 분석
tokens = okt.morphs(reg_text)
for token in tokens:
    print(token)

구형에서금단의파워업최신나소프트웨어를한꺼번에체크플래시백
텔레비전이나와연계할수있는나프로세서전환등재미있는가속속등장했다구형의금단이라고도할수있는파워업방법에서의최신화제의새로운보안소프트웨어까지한꺼번에소개합니다

인텔을에장착구형은얼마나빨라질것인가위
인텔이최신시리즈를출시했다현재중에서도최고의성능을자랑하는이제품을구형의고속화를도모한다는점에서리뷰해보았다조금색다른리뷰가되지만어느정도의효과가있는지기대가크다



는사용하는가인텔등에서으로전환가능한하이브리드하지만이와동시에도바뀐다


초기비용업데이트비용모두무료저스트시스템도마뱀로그가인상적인보안소프트웨어
현재는많은사용자들이에보안프로그램을도입하고있지만그대부분은매년엔정도드는업데이트비용과그절차에대해불만을가지고있다유료소프트웨어를이용하는사용자의약는무료보안소프트웨어를알고있음에도불구하고성능면에서뒤떨어지는게아니냐는불안에서도입을미루고있는상황이다


텔레비전의새로운활용방법을제안의봄신상는와를연계
는년월일개인용데스크톱인시리즈종류모델을월일부터판매한다고발표했다신상품은더강력해진녹화기능외에도시청녹화기능에더해서업계최초로인기를연계한트위트플러스를추가하는등컴퓨터만의기능을탑재스마트폰홈네트워크대응도강화하고안심간단쾌적한디지털엔터테인먼트를제안하여주요모델에대해다음과같이기능강화를실시했다


마치축제같은출하식렛츠노트출하시작
월일에발매되는의출하식이월일국내제조거점인고베공장에서열렸다동사의컴퓨터로는처음실시하는출하식으로이제품에얼마나힘이들어가있는지알수있다



엡손정품잉크잉크카트리지색세트
엡손
출판사
입소문을본다




구형
에서
금단
의
파워
업
최신
나
소프트웨어
를
한꺼
번
에
체크
플래시백


텔레비전
이나
와
연
계
할수있는나
프로세서
전환
등
재미있는가
속속
등장
했다
구형
의
금단
이라고도
할수있는
파워
업
방법
에서의
최신
화제
의
새로운
보안
소프트웨어
까지
한
꺼번
에
소개
합니다



인텔
을
에
장착
구형
은
얼마나
빨라질
것
인
가위


인텔
이
최신
시리즈
를
출시
했다
현재
중
에서도
최고
의
성능
을
자랑
하
는
이
제품
을
구형
의
고속
화
를
도모
한다는
점
에서
리뷰
해보았다
조금
색다른
리뷰
가
되지만
어느
정도
의
효과
가
있는지기
대가
크다





는사
용하는가
인텔
등
에서
으로
전환
가능한
하이브리드
하
지만
이
와동
시
에도
바뀐다




초기
비용
업데이트
비용
모두
무료
저스트
시스템
도마뱀
로그
가
인상
적
인
보안
소프트웨어


현재
는
많은
사용자
들이에
보안
프로그램
을
도입
하고
있지만
그
대부분
은
매년
엔
정도
드는
업데이트
비용
과
그
절차
에
대해
불만
을
가지
고
있다
유료
소프트웨어
를
이용
하
는
사용자
의약
는
무료
보안
소프트웨어
를
알고있음에도
불구
하고
성능
면
에서
뒤
떨어지는게
아니냐는
불안
에서
도입
을
미루고있는
상황
이다




텔레비전
의
새로운
활용
방법
을
제안
의
봄
신상
는와를
연
계


는
년월
일개
인용
데스크톱
인
시리즈
종류
모델
을
월일
부터
판매
한
다
고
발표
했다신
상품
은
더
강력해진
녹화
기능
외
에도
시청
녹화
기능
에
더해서
업계
최초
로
인기
를
연
계
한
트
위트
플러스
를
추가
하
는
등
컴퓨터
만의
기능
을
탑재
스마트폰
홈
네트워크
대응
도
강화하고
안심
간단
쾌적한
디지털
엔터테인먼트
를
제안
하
여주
요
모델
에
대해
다음
과
같이
기능
강화
를
실시
했다




마치
축제
같은
출하
식
렛츠
노트
출하
시작


월일
에
발매
되는의
출하
식
이월
일
국내
제조
거점
인
고베
공장
에서
열렸다
동
사의
컴퓨터
로는
처음
실시
하
는
출하
식
으로
이
제품
에
얼마나
힘
이
들어가있는지
알수있다





엡손
정품
잉크
잉크
카트리지
색
세트


엡손


출판사


입
소문
을
본다

### 불용어(Stopword) 제거
- 갖고 있는 데이터에서 유의미한 단어 토큰만을 선별하기 위해서는 큰 의미가 없는 단어 토큰을 제거하는 작업
- 한글 보편적 불용어: https://www.ranks.nl/stopwords/korean

In [15]:
f=open('Stopwords.txt', encoding='utf-8')
stopword=f.read()
print(stopword.split("\n"))
stopword=stopword.split("\n")

['아', '휴', '아이구', '아이쿠', '아이고', '어', '나', '우리', '저희', '따라', '의해', '을', '를', '에', '의', '가', '으로', '로', '에게', '뿐이다', '의거하여', '근거하여', '입각하여', '기준으로', '예하면', '예를 들면', '예를 들자면', '저', '소인', '소생', '저희', '지말고', '하지마', '하지마라', '다른', '물론', '또한', '그리고', '비길수 없다', '해서는 안된다', '뿐만 아니라', '만이 아니다', '만은 아니다', '막론하고', '관계없이', '그치지 않다', '그러나', '그런데', '하지만', '든간에', '논하지 않다', '따지지 않다', '설사', '비록', '더라도', '아니면', '만 못하다', '하는 편이 낫다', '불문하고', '향하여', '향해서', '향하다', '쪽으로', '틈타', '이용하여', '타다', '오르다', '제외하고', '이 외에', '이 밖에', '하여야', '비로소', '한다면 몰라도', '외에도', '이곳', '여기', '부터', '기점으로', '따라서', '할 생각이다', '하려고하다', '이리하여', '그리하여', '그렇게 함으로써', '하지만', '일때', '할때', '앞에서', '중에서', '보는데서', '으로써', '로써', '까지', '해야한다', '일것이다', '반드시', '할줄알다', '할수있다', '할수있어', '임에 틀림없다', '한다면', '등', '등등', '제', '겨우', '단지', '다만', '할뿐', '딩동', '댕그', '대해서', '대하여', '대하면', '훨씬', '얼마나', '얼마만큼', '얼마큼', '남짓', '여', '얼마간', '약간', '다소', '좀', '조금', '다수', '몇', '얼마', '지만', '하물며', '또한', '그러나', '그렇지만', '하지만', '이외에도', '대해 말하자면', '뿐이다', '다음에', '반대로', '반대로 말하자면', '이와 반대로', '바꾸어서 말하면', '바꾸어서 한다면', '만약', '그렇지않으면', '까악', '툭', '딱', '삐걱거리다', '보드득', '비걱거리다', '꽈당', '응당', '해야한다', '에 가서', '각', '각각', '여러분', '각종', '각자', '제각기', '하도록하다', '와', '과', '그러므로', '그래서', '고로', '한 까닭에', '하기 때문에', '거니와', '이지만', '대하여', '관하여', '관한', '과연', '실로', '아니나다를가', '생각한대로', '진짜로', '한적이있다', '하곤하였다', '하', '하하', '허허', '아하', '거바', '와', '오', '왜', '어째서', '무엇때문에', '어찌', '하겠는가', '무슨', '어디', '어느곳', '더군다나', '하물며', '더욱이는', '어느때', '언제', '야', '이봐', '어이', '여보시오', '흐흐', '흥', '휴', '헉헉', '헐떡헐떡', '영차', '여차', '어기여차', '끙끙', '아야', '앗', '아야', '콸콸', '졸졸', '좍좍', '뚝뚝', '주룩주룩', '솨', '우르르', '그래도', '또', '그리고', '바꾸어말하면', '바꾸어말하자면', '혹은', '혹시', '답다', '및', '그에 따르는', '때가 되어', '즉', '지든지', '설령', '가령', '하더라도', '할지라도', '일지라도', '지든지', '몇', '거의', '하마터면', '인젠', '이젠', '된바에야', '된이상', '만큼\t어찌됏든', '그위에', '게다가', '점에서 보아', '비추어 보아', '고려하면', '하게될것이다', '일것이다', '비교적', '좀', '보다더', '비하면', '시키다', '하게하다', '할만하다', '의해서', '연이서', '이어서', '잇따라', '뒤따라', '뒤이어', '결국', '의지하여', '기대여', '통하여', '자마자', '더욱더', '불구하고', '얼마든지', '마음대로', '주저하지 않고', '곧', '즉시', '바로', '당장', '하자마자', '밖에 안된다', '하면된다', '그래', '그렇지', '요컨대', '다시 말하자면', '바꿔 말하면', '즉', '구체적으로', '말하자면', '시작하여', '시초에', '이상', '허', '헉', '허걱', '바와같이', '해도좋다', '해도된다', '게다가', '더구나', '하물며', '와르르', '팍', '퍽', '펄렁', '동안', '이래', '하고있었다', '이었다', '에서', '로부터', '까지', '예하면', '했어요', '해요', '함께', '같이', '더불어', '마저', '마저도', '양자', '모두', '습니다', '가까스로', '하려고하다', '즈음하여', '다른', '다른 방면으로', '해봐요', '습니까', '했어요', '말할것도 없고', '무릎쓰고', '개의치않고', '하는것만 못하다', '하는것이 낫다', '매', '매번', '들', '모', '어느것', '어느', '로써', '갖고말하자면', '어디', '어느쪽', '어느것', '어느해', '어느 년도', '라 해도', '언젠가', '어떤것', '어느것', '저기', '저쪽', '저것', '그때', '그럼', '그러면', '요만한걸', '그래', '그때', '저것만큼', '그저', '이르기까지', '할 줄 안다', '할 힘이 있다', '너', '너희', '당신', '어찌', '설마', '차라리', '할지언정', '할지라도', '할망정', '할지언정', '구토하다', '게우다', '토하다', '메쓰겁다', '옆사람', '퉤', '쳇', '의거하여', '근거하여', '의해', '따라', '힘입어', '그', '다음', '버금', '두번째로', '기타', '첫번째로', '나머지는', '그중에서', '견지에서', '형식으로 쓰여', '입장에서', '위해서', '단지', '의해되다', '하도록시키다', '뿐만아니라', '반대로', '전후', '전자', '앞의것', '잠시', '잠깐', '하면서', '그렇지만', '다음에', '그러한즉', '그런즉', '남들', '아무거나', '어찌하든지', '같다', '비슷하다', '예컨대', '이럴정도로', '어떻게', '만약', '만일', '위에서 서술한바와같이', '인 듯하다', '하지 않는다면', '만약에', '무엇', '무슨', '어느', '어떤', '아래윗', '조차', '한데', '그럼에도 불구하고', '여전히', '심지어', '까지도', '조차도', '하지 않도록', '않기 위하여', '때', '시각', '무렵', '시간', '동안', '어때', '어떠한', '하여금', '네', '예', '우선', '누구', '누가 알겠는가', '아무도', '줄은모른다', '줄은 몰랏다', '하는 김에', '겸사겸사', '하는바', '그런 까닭에', '한 이유는', '그러니', '그러니까', '때문에', '그', '너희', '그들', '너희들', '타인', '것', '것들', '너', '위하여', '공동으로', '동시에', '하기 위하여', '어찌하여', '무엇때문에', '붕붕', '윙윙', '나', '우리', '엉엉', '휘익', '윙윙', '오호', '아하', '어쨋든', '만 못하다\t하기보다는', '차라리', '하는 편이 낫다', '흐흐', '놀라다', '상대적으로 말하자면', '마치', '아니라면', '쉿', '그렇지 않으면', '그렇지 않다면', '안 그러면', '아니었다면', '하든지', '아니면', '이라면', '좋아', '알았어', '하는것도', '그만이다', '어쩔수 없다', '하나', '일', '일반적으로', '일단', '한켠으로는', '오자마자', '이렇게되면', '이와같다면', '전부', '한마디', '한항목', '근거로', '하기에', '아울러', '하지 않도록', '않기 위해서', '이르기까지', '이 되다', '로 인하여', '까닭으로', '이유만으로', '이로 인하여', '그래서', '이 때문에', '그러므로', '그런 까닭에', '알 수 있다', '결론을 낼 수 있다', '으로 인하여', '있다', '어떤것', '관계가 있다', '관련이 있다', '연관되다', '어떤것들', '에 대해', '이리하여', '그리하여', '여부', '하기보다는', '하느니', '하면 할수록', '운운', '이러이러하다', '하구나', '하도다', '다시말하면', '다음으로', '에 있다', '에 달려 있다', '우리', '우리들', '오히려', '하기는한데', '어떻게', '어떻해', '어찌됏어', '어때', '어째서', '본대로', '자', '이', '이쪽', '여기', '이것', '이번', '이렇게말하자면', '이런', '이러한', '이와 같은', '요만큼', '요만한 것', '얼마 안 되는 것', '이만큼', '이 정도의', '이렇게 많은 것', '이와 같다', '이때', '이렇구나', '것과 같이', '끼익', '삐걱', '따위', '와 같은 사람들', '부류의 사람들', '왜냐하면', '중의하나', '오직', '오로지', '에 한하다', '하기만 하면', '도착하다', '까지 미치다', '도달하다', '정도에 이르다', '할 지경이다', '결과에 이르다', '관해서는', '여러분', '하고 있다', '한 후', '혼자', '자기', '자기집', '자신', '우에 종합한것과같이', '총적으로 보면', '총적으로 말하면', '총적으로', '대로 하다', '으로서', '참', '그만이다', '할 따름이다', '쿵', '탕탕', '쾅쾅', '둥둥', '봐', '봐라', '아이야', '아니', '와아', '응', '아이', '참나', '년', '월', '일', '령', '영', '일', '이', '삼', '사', '오', '육', '륙', '칠', '팔', '구', '이천육', '이천칠', '이천팔', '이천구', '하나', '둘', '셋', '넷', '다섯', '여섯', '일곱', '여덟', '아홉', '령', '영', '']

In [16]:
tokens_word =[]

for token in tokens:
    if token not in stopword:
        tokens_word.append(token)

tokens_word

['\n\n',
 '구형',
 '금단',
 '파워',
 '업',
 '최신',
 '소프트웨어',
 '한꺼',
 '번',
 '체크',
 '플래시백',
 '\n',
 '텔레비전',
 '이나',
 '연',
 '계',
 '할수있는나',
 '프로세서',
 '전환',
 '재미있는가',
 '속속',
 '등장',
 '했다',
 '구형',
 '금단',
 '이라고도',
 '할수있는',
 '파워',
 '업',
 '방법',
 '에서의',
 '최신',
 '화제',
 '새로운',
 '보안',
 '소프트웨어',
 '한',
 '꺼번',
 '소개',
 '합니다',
 '\n\n',
 '인텔',
 '장착',
 '구형',
 '은',
 '빨라질',
 '인',
 '가위',
 '\n',
 '인텔',
 '최신',
 '시리즈',
 '출시',
 '했다',
 '현재',
 '중',
 '에서도',
 '최고',
 '성능',
 '자랑',
 '는',
 '제품',
 '구형',
 '고속',
 '화',
 '도모',
 '한다는',
 '점',
 '리뷰',
 '해보았다',
 '색다른',
 '리뷰',
 '되지만',
 '정도',
 '효과',
 '있는지기',
 '대가',
 '크다',
 '\n\n\n\n',
 '는사',
 '용하는가',
 '인텔',
 '전환',
 '가능한',
 '하이브리드',
 '와동',
 '시',
 '에도',
 '바뀐다',
 '\n\n\n',
 '초기',
 '비용',
 '업데이트',
 '비용',
 '무료',
 '저스트',
 '시스템',
 '도마뱀',
 '로그',
 '인상',
 '적',
 '인',
 '보안',
 '소프트웨어',
 '\n',
 '현재',
 '는',
 '많은',
 '사용자',
 '들이에',
 '보안',
 '프로그램',
 '도입',
 '하고',
 '있지만',
 '대부분',
 '은',
 '매년',
 '엔',
 '정도',
 '드는',
 '업데이트',
 '비용',
 '절차',
 '대해',
 '불만',
 '가지',
 '고',
 '유료',
 '소프트웨어',
 '이용',
 '는',
 '사용자',
 '의약',
 '는',
 '무료',
 '보안',
 '소프트웨어',
 '알고있음에도',
 '불구',
 '하고',
 '성능',
 '면',
 '뒤',
 '떨어지는게',
 '아니냐는',
 '불안',
 '도입',
 '미루고있는',
 '상황',
 '이다',
 '\n\n\n',
 '텔레비전',
 '새로운',
 '활용',
 '방법',
 '제안',
 '봄',
 '신상',
 '는와를',
 '연',
 '계',
 '\n',
 '는',
 '년월',
 '일개',
 '인용',
 '데스크톱',
 '인',
 '시리즈',
 '종류',
 '모델',
 '월일',
 '판매',
 '한',
 '다',
 '고',
 '발표',
 '했다신',
 '상품',
 '은',
 '더',
 '강력해진',
 '녹화',
 '기능',
 '외',
 '에도',
 '시청',
 '녹화',
 '기능',
 '더해서',
 '업계',
 '최초',
 '인기',
 '연',
 '계',
 '한',
 '트',
 '위트',
 '플러스',
 '추가',
 '는',
 '컴퓨터',
 '만의',
 '기능',
 '탑재',
 '스마트폰',
 '홈',
 '네트워크',
 '대응',
 '도',
 '강화하고',
 '안심',
 '간단',
 '쾌적한',
 '디지털',
 '엔터테인먼트',
 '제안',
 '여주',
 '요',
 '모델',
 '대해',
 '기능',
 '강화',
 '실시',
 '했다',
 '\n\n\n',
 '축제',
 '같은',
 '출하',
 '식',
 '렛츠',
 '노트',
 '출하',
 '시작',
 '\n',
 '월일',
 '발매',
 '되는의',
 '출하',
 '식',
 '이월',
 '국내',
 '제조',
 '거점',
 '인',
 '고베',
 '공장',
 '열렸다',
 '동',
 '사의',
 '컴퓨터',
 '로는',
 '처음',
 '실시',
 '는',
 '출하',
 '식',
 '제품',
 '힘',
 '들어가있는지',
 '알수있다',
 '\n\n\n\n',
 '엡손',
 '정품',
 '잉크',
 '잉크',
 '카트리지',
 '색',
 '세트',
 '\n',
 '엡손',
 '\n',
 '출판사',
 '\n',
 '입',
 '소문',
 '본다',
 '\n']

### 단어에 대한 빈도수

In [17]:
from collections import Counter
from konlpy.tag import Okt

okt = Okt()

tokens_pos = okt.pos(reg_text)
tokens_nouns = okt.nouns(reg_text)

tokens_nouns

# 단어에 대한 출현 건수 확인(빈도수)
cnt = Counter(tokens_nouns)
cnt  # 데이터 빈도수를 딕셔너리 구조로 출력

Counter({'구형': 4,
         '금단': 2,
         '파워': 2,
         '업': 2,
         '최신': 3,
         '소프트웨어': 5,
         '번': 1,
         '체크': 1,
         '플래시백': 1,
         '텔레비전': 2,
         '이나': 1,
         '계': 2,
         '프로세서': 1,
         '전환': 2,
         '등': 3,
         '등장': 1,
         '방법': 2,
         '화제': 1,
         '보안': 4,
         '꺼번': 1,
         '소개': 1,
         '인텔': 3,
         '장착': 1,
         '얼마나': 2,
         '것': 1,
         '가위': 1,
         '시리즈': 2,
         '출시': 1,
         '현재': 2,
         '최고': 1,
         '성능': 2,
         '자랑': 1,
         '제품': 2,
         '고속': 1,
         '도모': 1,
         '점': 1,
         '리뷰': 2,
         '조금': 1,
         '정도': 2,
         '효과': 1,
         '대가': 1,
         '하이브리드': 1,
         '와동': 1,
         '시': 1,
         '초기': 1,
         '비용': 3,
         '업데이트': 2,
         '무료': 2,
         '저스트': 1,
         '시스템': 1,
         '도마뱀': 1,
         '로그': 1,
         '인상': 1,
         '사용자': 2,
         '프로그램': 1,
         '도입': 2,
         '대부분': 1,
         '매년': 1,
         '절차': 1,
         '대해': 2,
         '불만': 1,
         '가지': 1,
         '유료': 1,
         '이용': 1,
         '의약': 1,
         '불구': 1,
         '뒤': 1,
         '불안': 1,
         '상황': 1,
         '활용': 1,
         '제안': 2,
         '봄': 1,
         '신상': 1,
         '년월': 1,
         '일개': 1,
         '인용': 1,
         '데스크톱': 1,
         '종류': 1,
         '모델': 2,
         '월일': 2,
         '판매': 1,
         '고': 1,
         '발표': 1,
         '상품': 1,
         '더': 1,
         '녹화': 2,
         '기능': 4,
         '외': 1,
         '시청': 1,
         '업계': 1,
         '최초': 1,
         '인기': 1,
         '연': 1,
         '트': 1,
         '위트': 1,
         '플러스': 1,
         '추가': 1,
         '컴퓨터': 2,
         '탑재': 1,
         '스마트폰': 1,
         '홈': 1,
         '네트워크': 1,
         '대응': 1,
         '안심': 1,
         '간단': 1,
         '디지털': 1,
         '엔터테인먼트': 1,
         '여주': 1,
         '다음': 1,
         '강화': 1,
         '실시': 2,
         '마치': 1,
         '축제': 1,
         '출하': 4,
         '렛츠': 1,
         '노트': 1,
         '시작': 1,
         '발매': 1,
         '이월': 1,
         '일': 1,
         '국내': 1,
         '제조': 1,
         '거점': 1,
         '고베': 1,
         '공장': 1,
         '사의': 1,
         '처음': 1,
         '힘': 1,
         '엡손': 2,
         '정품': 1,
         '잉크': 2,
         '카트리지': 1,
         '색': 1,
         '세트': 1,
         '출판사': 1,
         '입': 1,
         '소문': 1})

In [18]:
# 상위 50개
print(cnt.most_common(50))

[('소프트웨어', 5), ('구형', 4), ('보안', 4), ('기능', 4), ('출하', 4), ('최신', 3), ('등', 3), ('인텔', 3), ('비용', 3), ('금단', 2), ('파워', 2), ('업', 2), ('텔레비전', 2), ('계', 2), ('전환', 2), ('방법', 2), ('얼마나', 2), ('시리즈', 2), ('현재', 2), ('성능', 2), ('제품', 2), ('리뷰', 2), ('정도', 2), ('업데이트', 2), ('무료', 2), ('사용자', 2), ('도입', 2), ('대해', 2), ('제안', 2), ('모델', 2), ('월일', 2), ('녹화', 2), ('컴퓨터', 2), ('실시', 2), ('엡손', 2), ('잉크', 2), ('번', 1), ('체크', 1), ('플래시백', 1), ('이나', 1), ('프로세서', 1), ('등장', 1), ('화제', 1), ('꺼번', 1), ('소개', 1), ('장착', 1), ('것', 1), ('가위', 1), ('출시', 1), ('최고', 1)]

In [19]:
import pandas as pd

df = pd.DataFrame(cnt.most_common(50))
df

        0  1
0   소프트웨어  5
1      구형  4
2      보안  4
3      기능  4
4      출하  4
5      최신  3
6       등  3
7      인텔  3
8      비용  3
9      금단  2
10     파워  2
11      업  2
12   텔레비전  2
13      계  2
14     전환  2
15     방법  2
16    얼마나  2
17    시리즈  2
18     현재  2
19     성능  2
20     제품  2
21     리뷰  2
22     정도  2
23   업데이트  2
24     무료  2
25    사용자  2
26     도입  2
27     대해  2
28     제안  2
29     모델  2
30     월일  2
31     녹화  2
32    컴퓨터  2
33     실시  2
34     엡손  2
35     잉크  2
36      번  1
37     체크  1
38   플래시백  1
39     이나  1
40   프로세서  1
41     등장  1
42     화제  1
43     꺼번  1
44     소개  1
45     장착  1
46      것  1
47     가위  1
48     출시  1
49     최고  1

## 워드클라우드

### 기사 전체를 이용한 형태소 분석

In [20]:
import os
import re
from konlpy.tag import Okt
import pandas as pd

In [21]:
okt = Okt()

# 기사별 폴더 지정
fdir = ['it-life', 'move']

doc_tmp = []  # 데이터 설명변수
label = []    # 레이블(목적) 변수


# 각 폴더에 파일을 각각 읽어와 표시
for i, v in enumerate(fdir):
    
    # 폴더에 있는 파일 목록 가져오기
    files = os.listdir("./data/" + v)

    # 파일을 하나씩 읽어오기
    for file in files:
        tmp1 = []     # 파일단위 token 저장
        tmp2 = ""     # 파일단위 token을 텍스트 저장 
        
        f = open('./data/' + v + '/' + file, 'r', encoding='utf-8')
        text = f.read()
        
        # 불필요한 문자열 제거하기(정규 표현식 사용)
        reg_text = re.sub(r'[0-9a-zA-Z]', '', text)  # [0-9a-zA-Z] => \w
        reg_text = re.sub(r'[\t\n\r]', '', reg_text)  #  [ \t\n\r\f\v]  => [\s]
        reg_text = re.sub(r'[::/₩+.[]!?■-]', '', reg_text)
        
        # 제거된 문자열을 기준으로 명사만 추출하는 형태소 분석
        tokens = okt.nouns(reg_text)
        for token in tokens:
            if token not in stopword:  # 불용어 처리
                tmp1.append(token)     # tmp1 리스트에 추가
            
        tmp2 = " ".join(tmp1) # 리스트 형식을 " "로 구분된 텍스트로 변경
        doc_tmp.append(tmp2) # 기사별/파일별 로 단어 추가
        
        label.append(i)
        f.close()
        
        
df = pd.DataFrame(doc_tmp)
df

                                                     0
0    호화 캐스팅 생글 생글 초회 슈퍼 스테이지 출연자 발표 인터넷 서비스 인 니코 니코...
1    사진 쪽 손 사장 시작 선언 화제 소프트 뱅크 그룹 대표 손정 씨 통해 발언 시작 ...
2    검 율 무시 용 안티 바이러스 소프트웨어 비교 테스트 설계 보안 보안 소프트웨어 비...
3    브라우저 게임 환경 지원 때문 다용 사이트 제대로 표시 수 문제 브라우저 실행 게임...
4    인터넷 부담 포토 북 편집 주문 드림 페이지 리뷰 명 모집 소셜 리뷰 커뮤니티 제드...
..                                                 ...
395  라카 더 더 브릿지 라카 월드 예고 포스터 공개 공개 인기 만화 실사 영화 라카 더...
396  스즈키 쿄카 하늘색 드레스 관객 매료 세컨드 버진 말레이시아 개선 상륙 영화 세컨드...
397  인터뷰 니콜 키드 무척 전화 이야기 영화 래빗 홀 은 니콜 키드 쀼 리차 수상 원작...
398  부모 자식 인연 무상 사랑 후지 모토 키노 시타 유키나 부부 생활 할리우드 대표 히...
399  괴물 토끼 손짓 공포 유원지 오신 환영 동물 방과후 운동장 초등학생 토끼 충격 장면...

[400 rows x 1 columns]

In [22]:
# 첫번째 기사/마지막 기사 내용 확인하기
print(doc_tmp[0])
print(doc_tmp[-1])

호화 캐스팅 생글 생글 초회 슈퍼 스테이지 출연자 발표 인터넷 서비스 인 니코 니코 동화 현실 세계 재현 해 웅장 프로젝트 생글 생글 초회 개최 장소 마쿠 하리 멧세 슈퍼 회의 장소 마련 스페셜 스테이지 세 개 등장 출연자 니코 니코 생방송 니코 정식 발표 니코 공식 프로그램 유래 출연자 초 호화 멤버 발표 시청 사용자 움 소리 니코 니코 생방송 연속 프로그램 니코 생글 생글 초회 최신 정보 전하 울트라 회의 기획 월요일 니코 생글 생글 초회 대형 속보 발표 스페셜 전시장 내 마련 스페셜 스테이지 출연자 로서 마츠오카 미츠루 히다카 미츠히 캬리 파뮤 파뮤 멤버 발표 니코 니코 니코 생방송 방송 라디오 프로그램 월요일 목요일 주 개성 야마다 사시 도우미 백화 요란 세라 미카 루 공식 프로그램 프로그램 내 생글 생글 회의 매우 파티 이벤트 홀 별도 티켓 필요 외 전시 홀 개 스테이지 스페셜 스테이지 마련 니코 니코 생방송 공식 프로그램 인연 연예인 출연 이벤트 공식 발표 스페셜 스테이지 생글 생글 초 회의 입장료 예매 당일 볼 수 꽤 배짱 내용 발표 프로그램 시청자 시청자 티켓 가격 배 도 구입 한인 그야 적자 움 기쁨 코멘트 공식 프로그램 출연자 슈퍼 회의 스페셜 스테이지 출연자 목록 순서 경칭 생략 프로그램 명 출연자 순 표기 초 마츠오카 미츠루 세상 타 투성이 마츠오카 미츠루 슈퍼 히다카 미츠히로 날로 히다카 미츠히 슈퍼 캐리 웨이 웨이 채널 캬리 파뮤 파뮤 초 폭렬 악몽 악몽 초 비쥬 얼 배틀 로얄 의심 초 전파 구사 자키 타케시 이마이 마미 키사 치하 역 징거 마야 코 타 카츠 키 역 하라 유미 시조 타카네 역 아사 쿠라 아즈미 오기 유키 호 역 하세가와 아키코 호시이 미키 역 역시 슈퍼 회의 가제 에비스 마 스캇 츠 슈퍼 회의 스페셜 가제 업업 걸즈 가짜 스 마이 레이지 라이프 핵 편집 부도 생글 생글 회의 취재 해 정보 제공 생각 생글 생글 초회 스페셜 스테이지 생글 생글 초회 대응 카메라 만 화소 오토 포커스 마이크 내장 이어폰 포함 블랙 입 소문
괴물 토끼 손짓 공포 유원지 오신 환영 동물 방과후 운동장 초등학생 토끼 충격 장면 막 연 영화 래빗 호러 벙어리 주인공 키리코 연기 신인 여우 상 지금 가장 기대 여배우 미츠 시마 히카리 주원 전 세계 최고 공포 제공 시미즈 다카 시 감독 중경 삼림 세계 도 촬영 감독 크리스토퍼 도일 협력 세계 조준 충격 래빗 호러 공개 래빗 호러 영화 누나 동생 앞 튀어 토끼 인형 그것 동생 밤 옷장 세계 거기 인기 유원지 의심 생각 누나 비밀 신출귀몰 토끼 남자 덤벼 공포 나라 앨리스 지옥 눈동자 봉 귀 외모 행동 마음 치유 세상 가장 동물 동물 번식 기 행동 취하 소설 영화 종종 이형 캐릭터 대표 루이스 캐럴 아동 문학 나라 앨리스 만 차 눈 변덕 토끼 초대 먼저 재미 토끼 지옥 공포 충격 소용돌이 헤루란 앨리스 키리코 모험 이야기 결말 해피 엔딩 것입 두려움 영화 토끼 현실 세계 튀어 날 키리코 뿐 지금 유행 영화 시부야 야마토 다케루 연기 세 동생 대오 인근 시네마 콤플렉스 방문 겁 가게 키리코 객석 몸 수쿠 마족 중 토끼 인형 스크린 구체화 튀어 무심코 취했다 대오 인형 가방 속 가지 그날 밤 집의 방 뭔가 기운 계단 옷장 쪽 다리 향 대오 세계 깨 대오 슬립 듯 쥐 듯이 유원지 거기 토끼 인형 출현 대오 헤루란도 공포 키리코 말 소녀 시대 기억 카가와 테루유키 연기 그림책 작가 아버지 공평 단독 주택 키리코 다이고 어머니 차이 남매 공평 전 아내 병 후 후처 맞이 쿄코 대오 출산 타계 키리코 소녀 시대 사건 계기 실어증 지금 말 말 수 대오 론 토끼 인형 정체 다이고 어머니 쿄코 이유 알 수 채 도 달라 대오 몸 염려 키리코 뇌리 봉인 과거 그것 공평 재혼 상대 쿄코 처음 대면 계모 대한 항심 팽창 소녀 시대 기억 평 괴물 토끼 중 사람 정체 토끼 살해 오프닝 충격 유원지 토끼 인형 두려움 인형 이기 중 사람 정체 걱정 순간 표정 보이지 인형 행동 원리 예측 불능 인 두려움 증가 연기 파 여배우 미츠 시마 히카리 무언 연기 엎치락 뒤치락하 마지막 장면 사람 해석 후 리얼리티 공포 영화 정말 마음 인간 일지 래빗 호러 공개 정보 공포 영화 특집 페이지 절규 유혈 괴물 미궁 현실 원한 주원 원한 극장판 디럭스 에디 션 주원 극장판 디럭스 에디 션

In [23]:
# 첫번째 기사/마지막 기사에 대한 레이블 확인
print(label[0])
print(label[-1])

0
1

In [24]:
# 전체 데이터 개수 확인
print(len(doc_tmp))

400

In [25]:
pd.concat([pd.DataFrame(doc_tmp), pd.DataFrame(label)], axis = 1)

                                                     0  0
0    호화 캐스팅 생글 생글 초회 슈퍼 스테이지 출연자 발표 인터넷 서비스 인 니코 니코...  0
1    사진 쪽 손 사장 시작 선언 화제 소프트 뱅크 그룹 대표 손정 씨 통해 발언 시작 ...  0
2    검 율 무시 용 안티 바이러스 소프트웨어 비교 테스트 설계 보안 보안 소프트웨어 비...  0
3    브라우저 게임 환경 지원 때문 다용 사이트 제대로 표시 수 문제 브라우저 실행 게임...  0
4    인터넷 부담 포토 북 편집 주문 드림 페이지 리뷰 명 모집 소셜 리뷰 커뮤니티 제드...  0
..                                                 ... ..
395  라카 더 더 브릿지 라카 월드 예고 포스터 공개 공개 인기 만화 실사 영화 라카 더...  1
396  스즈키 쿄카 하늘색 드레스 관객 매료 세컨드 버진 말레이시아 개선 상륙 영화 세컨드...  1
397  인터뷰 니콜 키드 무척 전화 이야기 영화 래빗 홀 은 니콜 키드 쀼 리차 수상 원작...  1
398  부모 자식 인연 무상 사랑 후지 모토 키노 시타 유키나 부부 생활 할리우드 대표 히...  1
399  괴물 토끼 손짓 공포 유원지 오신 환영 동물 방과후 운동장 초등학생 토끼 충격 장면...  1

[400 rows x 2 columns]

In [26]:
import numpy as np

news_data = np.concatenate([np.array(doc_tmp).reshape(-1,1), np.array(label).reshape(-1,1)], axis = 1)
df1 = pd.DataFrame(news_data)
df1

                                                     0  1
0    호화 캐스팅 생글 생글 초회 슈퍼 스테이지 출연자 발표 인터넷 서비스 인 니코 니코...  0
1    사진 쪽 손 사장 시작 선언 화제 소프트 뱅크 그룹 대표 손정 씨 통해 발언 시작 ...  0
2    검 율 무시 용 안티 바이러스 소프트웨어 비교 테스트 설계 보안 보안 소프트웨어 비...  0
3    브라우저 게임 환경 지원 때문 다용 사이트 제대로 표시 수 문제 브라우저 실행 게임...  0
4    인터넷 부담 포토 북 편집 주문 드림 페이지 리뷰 명 모집 소셜 리뷰 커뮤니티 제드...  0
..                                                 ... ..
395  라카 더 더 브릿지 라카 월드 예고 포스터 공개 공개 인기 만화 실사 영화 라카 더...  1
396  스즈키 쿄카 하늘색 드레스 관객 매료 세컨드 버진 말레이시아 개선 상륙 영화 세컨드...  1
397  인터뷰 니콜 키드 무척 전화 이야기 영화 래빗 홀 은 니콜 키드 쀼 리차 수상 원작...  1
398  부모 자식 인연 무상 사랑 후지 모토 키노 시타 유키나 부부 생활 할리우드 대표 히...  1
399  괴물 토끼 손짓 공포 유원지 오신 환영 동물 방과후 운동장 초등학생 토끼 충격 장면...  1

[400 rows x 2 columns]

In [27]:
np.array(doc_tmp).reshape(-1,1).shape

(400, 1)

### 문서단어행렬(Document-Term Matrix, DTM)

In [28]:
# 첫번째 데이터에 대한 빈도수
from collections import Counter

word_c1 = Counter(doc_tmp[0].split(" "))
print(word_c1)
print('===========================================================================')


word_c1_lst = word_c1.most_common()
print(word_c1_lst)
print('===========================================================================')


word_c1_df = pd.DataFrame(word_c1_lst)
word_c1_df = word_c1_df.set_index(0)
display(word_c1_df.head())
print('===========================================================================')


word_c1_df1 = word_c1_df.T  # word_c1_df.transpose()
word_c1_df1

Counter({'생글': 18, '니코': 15, '프로그램': 9, '스테이지': 8, '회의': 8, '스페셜': 8, '슈퍼': 7, '출연자': 7, '발표': 7, '초회': 6, '초': 6, '공식': 5, '역': 5, '생방송': 4, '파뮤': 4, '마련': 3, '마츠오카': 3, '미츠루': 3, '히다카': 3, '호화': 2, '해': 2, '장소': 2, '개': 2, '멤버': 2, '움': 2, '정보': 2, '월요일': 2, '내': 2, '미츠히': 2, '캬리': 2, '이벤트': 2, '홀': 2, '티켓': 2, '시청자': 2, '타': 2, '웨이': 2, '악몽': 2, '가제': 2, '캐스팅': 1, '인터넷': 1, '서비스': 1, '인': 1, '동화': 1, '현실': 1, '세계': 1, '재현': 1, '웅장': 1, '프로젝트': 1, '개최': 1, '마쿠': 1, '하리': 1, '멧세': 1, '세': 1, '등장': 1, '정식': 1, '유래': 1, '시청': 1, '사용자': 1, '소리': 1, '연속': 1, '최신': 1, '전하': 1, '울트라': 1, '기획': 1, '대형': 1, '속보': 1, '전시장': 1, '로서': 1, '방송': 1, '라디오': 1, '목요일': 1, '주': 1, '개성': 1, '야마다': 1, '사시': 1, '도우미': 1, '백화': 1, '요란': 1, '세라': 1, '미카': 1, '루': 1, '매우': 1, '파티': 1, '별도': 1, '필요': 1, '외': 1, '전시': 1, '인연': 1, '연예인': 1, '출연': 1, '입장료': 1, '예매': 1, '당일': 1, '볼': 1, '수': 1, '꽤': 1, '배짱': 1, '내용': 1, '가격': 1, '배': 1, '도': 1, '구입': 1, '한인': 1, '그야': 1, '적자': 1, '기쁨': 1, '코멘트': 1, '목록': 1, '순서': 1, '경칭': 1, '생략': 1, '명': 1, '순': 1, '표기': 1, '세상': 1, '투성이': 1, '미츠히로': 1, '날로': 1, '캐리': 1, '채널': 1, '폭렬': 1, '비쥬': 1, '얼': 1, '배틀': 1, '로얄': 1, '의심': 1, '전파': 1, '구사': 1, '자키': 1, '타케시': 1, '이마이': 1, '마미': 1, '키사': 1, '치하': 1, '징거': 1, '마야': 1, '코': 1, '카츠': 1, '키': 1, '하라': 1, '유미': 1, '시조': 1, '타카네': 1, '아사': 1, '쿠라': 1, '아즈미': 1, '오기': 1, '유키': 1, '호': 1, '하세가와': 1, '아키코': 1, '호시이': 1, '미키': 1, '역시': 1, '에비스': 1, '마': 1, '스캇': 1, '츠': 1, '업업': 1, '걸즈': 1, '가짜': 1, '스': 1, '마이': 1, '레이지': 1, '라이프': 1, '핵': 1, '편집': 1, '부도': 1, '취재': 1, '제공': 1, '생각': 1, '대응': 1, '카메라': 1, '만': 1, '화소': 1, '오토': 1, '포커스': 1, '마이크': 1, '내장': 1, '이어폰': 1, '포함': 1, '블랙': 1, '입': 1, '소문': 1})
===========================================================================
[('생글', 18), ('니코', 15), ('프로그램', 9), ('스테이지', 8), ('회의', 8), ('스페셜', 8), ('슈퍼', 7), ('출연자', 7), ('발표', 7), ('초회', 6), ('초', 6), ('공식', 5), ('역', 5), ('생방송', 4), ('파뮤', 4), ('마련', 3), ('마츠오카', 3), ('미츠루', 3), ('히다카', 3), ('호화', 2), ('해', 2), ('장소', 2), ('개', 2), ('멤버', 2), ('움', 2), ('정보', 2), ('월요일', 2), ('내', 2), ('미츠히', 2), ('캬리', 2), ('이벤트', 2), ('홀', 2), ('티켓', 2), ('시청자', 2), ('타', 2), ('웨이', 2), ('악몽', 2), ('가제', 2), ('캐스팅', 1), ('인터넷', 1), ('서비스', 1), ('인', 1), ('동화', 1), ('현실', 1), ('세계', 1), ('재현', 1), ('웅장', 1), ('프로젝트', 1), ('개최', 1), ('마쿠', 1), ('하리', 1), ('멧세', 1), ('세', 1), ('등장', 1), ('정식', 1), ('유래', 1), ('시청', 1), ('사용자', 1), ('소리', 1), ('연속', 1), ('최신', 1), ('전하', 1), ('울트라', 1), ('기획', 1), ('대형', 1), ('속보', 1), ('전시장', 1), ('로서', 1), ('방송', 1), ('라디오', 1), ('목요일', 1), ('주', 1), ('개성', 1), ('야마다', 1), ('사시', 1), ('도우미', 1), ('백화', 1), ('요란', 1), ('세라', 1), ('미카', 1), ('루', 1), ('매우', 1), ('파티', 1), ('별도', 1), ('필요', 1), ('외', 1), ('전시', 1), ('인연', 1), ('연예인', 1), ('출연', 1), ('입장료', 1), ('예매', 1), ('당일', 1), ('볼', 1), ('수', 1), ('꽤', 1), ('배짱', 1), ('내용', 1), ('가격', 1), ('배', 1), ('도', 1), ('구입', 1), ('한인', 1), ('그야', 1), ('적자', 1), ('기쁨', 1), ('코멘트', 1), ('목록', 1), ('순서', 1), ('경칭', 1), ('생략', 1), ('명', 1), ('순', 1), ('표기', 1), ('세상', 1), ('투성이', 1), ('미츠히로', 1), ('날로', 1), ('캐리', 1), ('채널', 1), ('폭렬', 1), ('비쥬', 1), ('얼', 1), ('배틀', 1), ('로얄', 1), ('의심', 1), ('전파', 1), ('구사', 1), ('자키', 1), ('타케시', 1), ('이마이', 1), ('마미', 1), ('키사', 1), ('치하', 1), ('징거', 1), ('마야', 1), ('코', 1), ('카츠', 1), ('키', 1), ('하라', 1), ('유미', 1), ('시조', 1), ('타카네', 1), ('아사', 1), ('쿠라', 1), ('아즈미', 1), ('오기', 1), ('유키', 1), ('호', 1), ('하세가와', 1), ('아키코', 1), ('호시이', 1), ('미키', 1), ('역시', 1), ('에비스', 1), ('마', 1), ('스캇', 1), ('츠', 1), ('업업', 1), ('걸즈', 1), ('가짜', 1), ('스', 1), ('마이', 1), ('레이지', 1), ('라이프', 1), ('핵', 1), ('편집', 1), ('부도', 1), ('취재', 1), ('제공', 1), ('생각', 1), ('대응', 1), ('카메라', 1), ('만', 1), ('화소', 1), ('오토', 1), ('포커스', 1), ('마이크', 1), ('내장', 1), ('이어폰', 1), ('포함', 1), ('블랙', 1), ('입', 1), ('소문', 1)]
===========================================================================

       1
0
생글    18
니코    15
프로그램   9
스테이지   8
회의     8

===========================================================================

,생글,니코,프로그램,스테이지,회의,스페셜,슈퍼,출연자,발표,초회,...,화소,오토,포커스,마이크,내장,이어폰,포함,블랙,입,소문
1,18,15,9,8,8,8,7,7,7,6,...,1,1,1,1,1,1,1,1,1,1

In [29]:
# 2번째 데이터가져와 행/열 변환 후 기존 데이터에 추가하기
from collections import Counter

word_c1_df1 = pd.DataFrame()

for i in range(len(doc_tmp)):
    word_c1 = Counter(doc_tmp[1].split())
    print(word_c1)
    word_c1_lst = word_c1.most_common()
    print(word_c1_lst)

    word_c1_df = pd.DataFrame(word_c1_lst)
    display(word_c1_df.head())

    word_c1_df = word_c1_df.set_index(0)
    display(word_c1_df.head())

    # 기존 1번째 데이터의 행/열 변환 값에 2번째 데이터 추가
    word_c1_df1 = pd.concat([word_c1_df1, word_c1_df.T], axis=0, ignore_index=True)
display(word_c1_df1)

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

Counter({'손': 9, '사장': 9, '시작': 4, '화제': 3, '손정': 3, '지원': 3, '사진': 2, '쪽': 2, '선언': 2, '씨': 2, '발언': 2, '짹짹': 2, '꼭': 2, '손씨': 2, '칭찬': 2, '소리': 2, '부흥': 2, '소프트': 1, '뱅크': 1, '그룹': 1, '대표': 1, '통해': 1, '인터넷': 1, '그것': 1, '갑자기': 1, '중얼': 1, '거렸다': 1, '대해': 1, '아래': 1, '코멘트': 1, '엣': 1, '친구': 1, '사람': 1, '정말': 1, '수': 1, '운': 1, '앞': 1, '재미': 1, '뭐': 1, '생각': 1, '이야기': 1, '추측': 1, '잣': 1, '카바': 1, '일본': 1, '지금': 1, '마침내': 1, '흐름': 1, '등장': 1, '시': 1, '도': 1, '사용자': 1, '라든지': 1, '해': 1, '의견': 1, '관련': 1, '기사': 1, '더': 1, '보기': 1, '스케일': 1, '미국': 1, '유학': 1, '집의': 1, '전파': 1, '상황': 1, '속담': 1, '말': 1, '현실': 1, '독자': 1, '반론': 1, '협력': 1, '역시': 1, '위해': 1, '긴자': 1, '플래그': 1, '스토어': 1, '필사': 1, '선전': 1, '손자': 1, '제곱': 1, '법칙': 1, '의의': 1, '성공': 1, '철학': 1, '문고': 1, '저자': 1, '타가': 1, '키': 1, '히데': 1, '노리': 1, '연구소': 1, '출판사': 1, '입': 1, '소문': 1})
[('손', 9), ('사장', 9), ('시작', 4), ('화제', 3), ('손정', 3), ('지원', 3), ('사진', 2), ('쪽', 2), ('선언', 2), ('씨', 2), ('발언', 2), ('짹짹', 2), ('꼭', 2), ('손씨', 2), ('칭찬', 2), ('소리', 2), ('부흥', 2), ('소프트', 1), ('뱅크', 1), ('그룹', 1), ('대표', 1), ('통해', 1), ('인터넷', 1), ('그것', 1), ('갑자기', 1), ('중얼', 1), ('거렸다', 1), ('대해', 1), ('아래', 1), ('코멘트', 1), ('엣', 1), ('친구', 1), ('사람', 1), ('정말', 1), ('수', 1), ('운', 1), ('앞', 1), ('재미', 1), ('뭐', 1), ('생각', 1), ('이야기', 1), ('추측', 1), ('잣', 1), ('카바', 1), ('일본', 1), ('지금', 1), ('마침내', 1), ('흐름', 1), ('등장', 1), ('시', 1), ('도', 1), ('사용자', 1), ('라든지', 1), ('해', 1), ('의견', 1), ('관련', 1), ('기사', 1), ('더', 1), ('보기', 1), ('스케일', 1), ('미국', 1), ('유학', 1), ('집의', 1), ('전파', 1), ('상황', 1), ('속담', 1), ('말', 1), ('현실', 1), ('독자', 1), ('반론', 1), ('협력', 1), ('역시', 1), ('위해', 1), ('긴자', 1), ('플래그', 1), ('스토어', 1), ('필사', 1), ('선전', 1), ('손자', 1), ('제곱', 1), ('법칙', 1), ('의의', 1), ('성공', 1), ('철학', 1), ('문고', 1), ('저자', 1), ('타가', 1), ('키', 1), ('히데', 1), ('노리', 1), ('연구소', 1), ('출판사', 1), ('입', 1), ('소문', 1)]

    0  1
0   손  9
1  사장  9
2  시작  4
3  화제  3
4  손정  3

    1
0
손   9
사장  9
시작  4
화제  3
손정  3

,손,사장,시작,화제,손정,지원,사진,쪽,선언,씨,...,문고,저자,타가,키,히데,노리,연구소,출판사,입,소문
0,9,9,4,3,3,3,2,2,2,2,...,1,1,1,1,1,1,1,1,1,1
1,9,9,4,3,3,3,2,2,2,2,...,1,1,1,1,1,1,1,1,1,1
2,9,9,4,3,3,3,2,2,2,2,...,1,1,1,1,1,1,1,1,1,1
3,9,9,4,3,3,3,2,2,2,2,...,1,1,1,1,1,1,1,1,1,1
4,9,9,4,3,3,3,2,2,2,2,...,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,9,9,4,3,3,3,2,2,2,2,...,1,1,1,1,1,1,1,1,1,1
396,9,9,4,3,3,3,2,2,2,2,...,1,1,1,1,1,1,1,1,1,1
397,9,9,4,3,3,3,2,2,2,2,...,1,1,1,1,1,1,1,1,1,1
398,9,9,4,3,3,3,2,2,2,2,...,1,1,1,1,1,1,1,1,1,1
399,9,9,4,3,3,3,2,2,2,2,...,1,1,1,1,1,1,1,1,1,1

In [30]:
word_c1_df1 = word_c1_df1.fillna(0)
word_c1_df1 = word_c1_df1.astype(int)
word_c1_df1

colName = word_c1_df1.columns
new_colName = []
for cn in colName:
    if len(cn) >= 2:
        new_colName.append(cn)
        
word_c1_df_new = word_c1_df1[new_colName].copy()
print(len(word_c1_df_new.columns))

colName_num = []
for i, name in enumerate(new_colName):
    colName_num.append(i)

word_c1_df_new.columns = colName_num

77

In [31]:
word_c1_df1.values

array([[9, 9, 4, ..., 1, 1, 1],
       [9, 9, 4, ..., 1, 1, 1],
       [9, 9, 4, ..., 1, 1, 1],
       ...,
       [9, 9, 4, ..., 1, 1, 1],
       [9, 9, 4, ..., 1, 1, 1],
       [9, 9, 4, ..., 1, 1, 1]])

In [32]:
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer

# 단어의 출현건수 카운트
cv = CountVectorizer()
doct_cv = cv.fit_transform(np.array(doc_tmp))
doct_cnt = doct_cv.toarray()

print(doct_cnt[:5])

display(pd.DataFrame(doct_cnt).head())

[[0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 1]
 [0 0 0 ... 0 0 0]
 [0 0 0 ... 0 0 0]]

,0,1,2,3,4,5,6,7,8,9,...,9148,9149,9150,9151,9152,9153,9154,9155,9156,9157
0,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [33]:
# 데이터 사이즈
print(pd.DataFrame(doct_cnt).shape)

(400, 9158)

In [34]:
print(cv.get_feature_names()[:50])
print(colName[:50])

['가가', '가감', '가게', '가격', '가계', '가고시마', '가공', '가교', '가극', '가기', '가까이', '가끔', '가능', '가능성', '가도', '가두', '가득', '가든', '가라', '가라데', '가라오케', '가라테', '가랑이', '가량', '가렛', '가로', '가로막', '가로축', '가르시아', '가르침', '가마', '가마쿠라', '가면', '가모', '가무', '가문', '가미', '가바', '가발', '가방', '가버', '가보', '가부', '가브리엘', '가비', '가사', '가산', '가상', '가설', '가세']
Index(['손', '사장', '시작', '화제', '손정', '지원', '사진', '쪽', '선언', '씨', '발언', '짹짹',
       '꼭', '손씨', '칭찬', '소리', '부흥', '소프트', '뱅크', '그룹', '대표', '통해', '인터넷', '그것',
       '갑자기', '중얼', '거렸다', '대해', '아래', '코멘트', '엣', '친구', '사람', '정말', '수', '운',
       '앞', '재미', '뭐', '생각', '이야기', '추측', '잣', '카바', '일본', '지금', '마침내', '흐름',
       '등장', '시'],
      dtype='object', name=0)

/Users/wondongchan/opt/anaconda3/envs/kdig/lib/python3.9/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [35]:
# 단어의 출현 빈도수 카운트
cv = CountVectorizer(min_df = 0.01, max_df = 0.5)
doct_cv = cv.fit_transform(np.array(doc_tmp))
doct_cnt = doct_cv.toarray()

display(pd.DataFrame(doct_cnt).head())

,0,1,2,3,4,5,6,7,8,9,...,2974,2975,2976,2977,2978,2979,2980,2981,2982,2983
0,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [36]:
pd.DataFrame(doct_cnt).shape

(400, 2984)

In [37]:
print(cv.get_feature_names()[:50])

['가가', '가게', '가격', '가공', '가기', '가까이', '가끔', '가능', '가능성', '가득', '가라데', '가로', '가로막', '가면', '가방', '가브리엘', '가사', '가상', '가세', '가속', '가수', '가슨', '가슴', '가시', '가운데', '가위', '가을', '가의', '가이드', '가입', '가장', '가전', '가정', '가족', '가지', '가짜', '가차', '가치', '각국', '각도', '각본', '각지', '간다', '간단', '간호사', '갈등', '감각', '감격', '감금', '감독']

/Users/wondongchan/opt/anaconda3/envs/kdig/lib/python3.9/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

### 어휘빈도-문서역빈도(TF-IDF) 분석 (교재 173p~)
- DF-IDF = TF*IDF

In [38]:
from sklearn.feature_extraction.text import TfidfVectorizer

tv = TfidfVectorizer(min_df=0.4, max_df = 0.5, sublinear_tf = True)
doc_tv = tv.fit_transform(np.array(doc_tmp))
doc_Tfidf = doc_tv.toarray()

display(pd.DataFrame(doc_Tfidf).head())

     0    1         2         3    4         5    6
0  0.0  0.0  1.000000  0.000000  0.0  0.000000  0.0
1  0.0  0.0  0.356366  0.855557  0.0  0.375535  0.0
2  0.0  0.0  0.488914  0.000000  0.0  0.872332  0.0
3  1.0  0.0  0.000000  0.000000  0.0  0.000000  0.0
4  0.0  0.0  0.000000  1.000000  0.0  0.000000  0.0